@import url("https://use.typekit.net/hnx8rum.css");



body,
html {
    margin: 0;
    padding: 0;
    font-family: "grenadine-mvb", sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 1.6rem;
    font-size: 1rem;
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
}

.home {
    position: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cheese-conveyor {
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
    height: 140px;
    overflow: hidden;
    z-index: -1;
}

.conveyor-track {
    display: flex;
    width: max-content;
    animation: conveyorMove 60s linear infinite;
}

.conveyor-track img {
    height: 140px;
    width: auto;
}

/* Animate track moving left continuously */
@keyframes conveyorMove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 67.5vh;
}

h1 {
    font-family: "Rats";
    font-size: 10rem;
}

.title p {
    font-size: 1.2rem;
    line-height: 0rem;
    margin-top: 0.5rem;
}


.blue-triangle1 {
    position: absolute;
    top: calc(100vh - 110px);
    right: 0;
    width: 115%;
    height: 100vh;
    background: #d5c2a8;
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
    z-index: -2;
}

.blue-triangle2 {
    position: absolute;
    top: calc((100vh - 111px) + 100vh);
    right: 0;
    width: 115%;
    height: 100vh;
    background: #d5c2a8;
    clip-path: polygon(100% 100%, 0% 0%, 100% 0%);
    z-index: -2;
}

.btn {
    position: absolute;
    top: 35px;
    right: 40px;
    background: rgb(25, 77, 233);
    color: white;
    border: white 2.5px solid;
    padding: 0.5rem 1rem;
    min-width: 11.2rem;
    font-family: "grenadine-mvb", sans-serif;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 1.6rem;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.15s ease;
    box-sizing: border-box;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.btn:active {
    transform: translateY(0px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.content {
    position: relative;
    display: flex;
    flex: 1;
    align-items: flex-start;
    padding: 4rem 2rem;
    padding-bottom: 3rem;
}

.mouse-trap {
    flex: 1;
}

.info {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 14rem 4rem;
    padding-bottom: 8rem;
    z-index: 2;
}


.text h2 {
    font-size: 5rem;
    margin-bottom: 3rem;
    font-family: "Rats";
}

.text p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.info .img-container {
    padding: 2rem 0;
}

.info .img-container img {
    height: 35vh;
    width: auto;
}


.mouse-trap {
    position: relative;
    display: flex;
    justify-content: center;
    height: 170vh;
    margin-top: 12rem;
}


.trap-base {
    position: absolute;
    top: 10px;
    z-index: 1;
    height: 160vh;
    width: 20px;
}


.trap-mouse {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    height: 7rem;
    z-index: 2;
}


.trap-cup {
    position: sticky;
    left: auto;
    top: -5px;
    height: 12.5rem;
    z-index: 3;
}

.font-item {
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
    width: 90vw;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0rem 3rem;
    width: 100vw;
}

.font-preview-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}


.font-preview {
    display: flex;
    font-size: 8rem;
    font-family: "Rats";
    line-height: normal;
    overflow-wrap: anywhere;
    outline: none;
}

.font-preview.placeholder {
    color: rgba(43, 43, 43, 0.5);
    /* semi-transparent */
}

.font-controls {
    display: flex;
    position: relative;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    padding-bottom: 2rem;
}

.download {
    display: flex;
    align-items: center;
    padding: 0 2px;
    gap: 2rem;
}

.download p {
    font-size: 1.3rem;
    line-height: 1.6;
    color: rgb(25, 77, 233);
}


.btn-download {
    position: relative;
    background: rgb(25, 77, 233);
    color: white;
    border: white 2.5px solid;
    padding: 0.5rem 1rem;
    min-width: 11.2rem;
    font-family: "grenadine-mvb", sans-serif;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 1.5px;
    line-height: 1.6rem;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.15s ease;
    box-sizing: border-box;
}

.btn-download:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.btn-download:active {
    transform: translateY(0px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}


.weight-slider {
    width: 200px;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background: rgba(43, 43, 43, 0.2);
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.weight-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 24px;
    background: rgba(43, 43, 43, 0.75);
    border-radius: 2px;

}

.weight-slider:hover::-webkit-slider-thumb {
    background: rgba(43, 43, 43, 1);
}


.footer {
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    padding: 0.5rem 2.25rem;
    padding-top: 2rem;
}


@font-face {
    font-family: "Rats";
    src: url("../fonts/RatsVF.ttf") format("truetype");
    font-weight: 0 100;
    font-style: normal;
}